
// User Defined
//darker shades
$dark: #333;
$black: #111;

//lighter shades
$white: #fff;
$whitesmoke: #eee;
$light-gray: #ddd;
$dark-gray: #333;
$medium-gray: #888;

//colors
$sad-blue: #50469e;
$link-color: #7fb44a;
$primary-color: indianred;
$accent-color: #50469e;

//Images
$light-gray-border: solid 1px #ddd;

// Body
$body-bg: #f5f8fa;
$text-color: black;

// Borders
$laravel-border-color: lighten($body-bg, 80%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$text-color: black;
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: $dark-gray;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;
