@mixin square($dimension) {
    width: $dimension;
    height: $dimension;
    box-sizing: border-box;
}

@mixin border-radius ($radius) {
    border-radius: $radius;
}

@mixin centralize(){
    margin: 0 auto;
    display: block;
}

@mixin ease-out($prop, $duration : .3s) {
    transition: $prop $duration ease-out 0s;
}

@mixin big_thin {
	font-family: 'Roboto Light';
	display: block;
	font-size: $huge-font-size;
	color: $price-primary-color;
}

@mixin font($fontname: $base-font-family, $weight : 400) {
	font-family: $fontname;
	font-weight: $weight;
}

// box model
@mixin square($dimension) {
	width: $dimension;
	height: $dimension;
}

@mixin centralize(){
	display: block;
	margin-right: auto;
	margin-left: auto;
}

@mixin box-shadow($x : 0, $y : 3px, $blur : 3px, $color : rgba(0,0,0,0.28) ){
	box-shadow: $x $y $blur $color;
}

@mixin no-overflow {
	overflow: hidden;
}

@mixin no-padding {
	padding: 0;
}

@mixin small_bold {
	display: block;
	color: $price-primary-color;
	font-family: 'Roboto Condensed Bold';
	font-size: $huge-font-size - ( $huge-font-size / 4 ) ;
}


@mixin fixed_height($height){
	height: $height;
	line-height: $height;
}

@mixin normal {
	font-family: 'Roboto Condensed';
	font-size: normal;
}

@mixin radio($height, $border : 2px , $active : false ){
	$dimension: $height - $border;
	content: '';
	position: relative;
	height: $dimension;
	width: $dimension;
	margin-top: $border / 2;
	border-radius: 50%;
	background: if( $active == true , $primay-color, 'transparent' );
	border: solid $border #ccc;
}

@mixin fixed_position($top : 'unset', $right : 'unset', $bottom: 'unset', $left : 'unset' ) {
	left : $left;
	top : $top;
	right: $right;
	position: fixed;
	bottom: $bottom;
}

@mixin absolute_content {
	content: '';
	position: absolute;
}

@mixin relative-block {
	display: block;
	position: relative;
}

// margins

@mixin margin-no-top ($width : -15px ) {
	margin-top: auto;
	margin-bottom: $width;
	margin-left: $width;
	padding: 5px 15px;
	margin-right: $width;
}


@mixin material-note($color: $primary-color) {
	border: 0 ;
	display: block;
	padding-left: 10px;
	border-left: solid 3px $color;
	line-height: 30px;
	font-family: $base-font-family;
}

//transitions and animations 

@mixin ease-out($prop: all , $duration: .3s , $timing: ease-out) {
	transition: $prop $duration $timing;
}


@mixin border-except($width: 1px, $color: $gray , $side: '') {
	border-left: if($side != 'left', solid $width $color, solid 0 transparent);
	border-right: if($side != 'right', solid $width $color, solid 0 transparent);
	border-top: if($side != 'top', solid $width $color, solid 0 transparent);
	border-bottom: if($side != 'bottom', solid $width $color, solid 0 transparent);
}

@mixin uppercase () {
    text-transform: uppercase;
}