@font-face {
 font-family: 'molle-italic';
 src: local('Molle Italic'), url('~/fonts/molle-italic.ttf') format('truetype');
}

@font-face {
 font-family: 'Montserrat';
 src: local('Montserrat'), url('~/fonts/montserrat-regular.ttf') format('truetype');
 font-weight: 400;
}

@font-face {
 font-family: 'Montserrat';
 src: local('Montserrat 700'), url('~/fonts/montserrat-bold.ttf') format('truetype');
 font-weight: 700;
}

$heading-font : 'Molle-Italic';
$base-font-family: "Roboto Condensed", "Aller", "Roboto", "Helvetica Condensed", "Tahoma", sans-serif;

body {
  font-weight: 400;
  background: $whitesmoke;
  font-family: $default-font;
}

//font family

// font size
$huge-font-size: 40px;
$font-size-1: $huge-font-size / 1;
$font-size-2: $huge-font-size / 2;
$font-size-3: $huge-font-size / 3;
$font-size-4: $huge-font-size / 4;