
#footer {
    @extend .default_font_family !optional;
    color: $black;
    padding: 1em 0;
    background: lighten($light-gray, 5%);
    
    &:hover {
        opacity: 1;
    }

    a , small {
        @include uppercase;
        @include font('Montserrat');
        color: $medium-gray;
    }

    #back-2-top {
        $height : 50px;
        
        @extend .text-center;
        @include fixed_position(null,35px, 60px);
        @include square($height);
        @include ease-out();
        @include box-shadow(0px, 3px,3px, transparentize($black,.79));

        color: $accent-color-1;
        border-radius: $height / 2;
        background: $primary-color;

        & > i {
            line-height: $height - 5px;
            font-size: $huge-font-size /2 ;
        }

    }

    & #top {
        @include uppercase;
        
        font-size: 2em;
        opacity: 0.6;
        cursor: pointer;
        transition: all .3s ease-out;
    }


}