
.navbar-fixed-top:first-child {
    margin-bottom: 0;
    border: none;
    background: $primary-color url(`../images/assets/left-sider.svg`) no-repeat top right;
    box-shadow: 1px 3px 3px  rgba(0, 0, 0, 0.55);
    transition: all .3s cubic-bezier(0.88, 0.04, 1, 1);
}

.navbar-default{

    &.hideMenu {
       top: -42px;    
    }

    & .navbar-toggle .icon-bar{
        background: white;   
    }

}

.navbar-header 
{

    & > .navbar-brand, 
    & > .navbar-brand a {
        transition: all .8s cubic-bezier(0.61, 0.09, 0.41, 1.38) .3s ;
    }

    & > .navbar-brand {
        padding: 0;
        width: 240px;
        overflow: hidden;
        transition-delay: .5s;
    }
    
    .navbar-toggle{
        border:none; 
    }

    &:hover, &:focus
    {
        background: none !important;
    }

}

.navbar-nav {

    & > li {

        font-family: 'molle-italic','cursive';

        &.active {
            a {
                background-color: transparent !important;
                border-bottom: solid 3px $accent-color-1;
                border-radius: 30px;
            }

        }

        & > a {
            color: darken($accent-color-1, 20%) !important;
        }
    }
}

body .navbar-header .navbar-toggle:focus > .icon-bar,
body .navbar-header .navbar-toggle:hover > .icon-bar{
    background: $white;
}

.navbar-brand { 
    position: relative;
    left: 0;

    &.shift {
        left: -90px;
        
         a {
            background-position: center center;
        }
    }

    & > a {
        opacity: 1;
        width: 240px;
        height: 50px;
        left: 0;
        display: block;
        background-image: url("/images/assets/logo-2x.png");
        background-size: 150px;
        position: relative;
        background-position: center center;
        background-repeat: no-repeat !important;
    }
}

#sub-nav {
    background: $darker-primary-color;
    min-height: 30px;
    border-radius: 0;

    & .nav li{
        position: relative;

        & > a {
            @include uppercase;
            @extend .default_font_family;

            border-right: solid 1px transparentize($accent-color-1, .75);
            font-size: $huge-font-size / 3.1;
            color: $accent-color-1;
            background: transparent !important;
            border-radius: 0;
            transition: all .1s ease-out;

            &::first-child {
                border-left: solid 0px black !important;
            }

            &::after{
                position: absolute;
                content: "";
                left: 0px;
                right: 0px;
                bottom: 0px;
                height: 0px;
                background: $accent-color-1;
                transition: all .2s ease-out;
            }

            & .lnr {
                margin-right: 3px;
                display: inline-block;
            }
        }
        
        &.active > a {
            &::after{
               height: 3px;
            }

        }

        &:hover > a {

            &::after {
                height: 10px;
            }

        }

        &:focus > a {
            background: #3741B2;
            padding-left: 2em;
            padding-right: 2em;
        }
    }

}

body > nav.navbar-fixed-top + #main-container {
    margin-top: 90px;
}
