
.post-box {
    background: #fff;
    border-bottom: solid 1px #ddd;
    overflow: hidden;
    border-radius: 3px 3px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    padding-top: 0px !important;
    
    .img-thumbnail {
        border-radius: 0;
        padding: 0;
        border-radius: 3px;
        margin-top: 20%;
    }   

    .heading {
        @extend .heading;
    }
}

#main-heading {
    position: relative;

    &::after {
        left: 2px;
        width: 50px;
        height: 5px;
        content: "";
        bottom: -5px;
        position: absolute;
        border-radius: 5px;
        background: $primary-color;
    }
}

/* post preview page */
.post-meta {

    & > span {
        color: $medium-gray;

        &::after {
            background-color: black;
            content: "";
            width: 5px;
            z-index: 4;
            display: inline-block;
            height: 5px;
            margin: 0 10px 3px;
            border-radius: 50%;
            position: relative;
        }
        
        &:last-child::after {
            content: unset;
            content: none;   
        }
    }
}

#post-content {
    font-size: 1.6rem;

    p {
        margin: 0 0 24px;
    }
}

#post-page{
    background: white;
    margin-top: 20px;
    border-radius: 3px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.27);

    .img-shorten {
        height: 200px;
    }

    figure{
        margin-top: 0;
        overflow: hidden;
        position: relative;
        transition: margin-top .3s cubic-bezier(0.24, 0.52, 0, 0.97) .1s;

        img { 
            @extend figure;
        }
    }

    .img-shorten {

        img {
            margin-top: -20%;
        }

        &::after {
            position: absolute;
            line-height: 200px;
            font-size: 2rem;
            content: "";
            color: rgba(0, 0, 0, 0.82);
            text-align: center;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(0,0,0,0.2);
            transition: all .3s ease-out;
        }
        
        &::before{
            position: absolute;
            letter-spacing: 3px;
            bottom: 10px;
            left: 10px;
            content: 'EXPAND';
            padding: .3rem 1rem;
            font-family: 'Roboto Condensed','Lato','Raleway','Helvetica','sans-serif';
            font-size:1.52rem;
            box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
            border-radius: .3rem;
            background: #FFEE58;
            z-index: 2;
        }
    }

}

#post-author{

    margin-top: -10px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.28);
    
    #heading {
        @include font('Raleway');

        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 2px;
    }

    figure {
        @include square(100px);
        @include centralize();
        background: $light-blue;
        border: solid 1px #ddd;
        border-radius: 50%;
        overflow: hidden;
        
        & > img {
            object-fit : cover;
            width: 100%;
            position: sticky;
            height: 100%;
        }
    }

}

#comment-field {

    #comment-form {
        @extend %form-style-1;

        textarea {
            min-height: 200px;
        }

        .comment-btn {
            background: transparent;
            color: $primary-color;
            border: dashed 3px $primary-color;
        }
    }
}

#comments {
    margin-top: 30px;

    .comments {

        padding: 1em;
        background: #fff;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.26);
        border-radius: 4px;
        margin-bottom: 1em;
        position: relative;
        overflow: hidden;

        &::after {
            width: 30px;
            height: 30px;
            content: "";
            background: #ddf;
            position: absolute;
            top: 30px;
            z-index: 30;
            left: -15px;
            box-shadow: -7px -5px 0px rgba(0,0,0,.3);
            border-radius: 3px;
            transform: rotate(135deg);
            transition: transform .3s linear;
        }

        figure {
            width: 80px;
            height: 80px;
            position: relative;
            z-index: 3;
            background: whitesmoke;
            overflow: hidden;
            margin-top: 5px;
            border-radius: 50%;
        }
    }

    form input[type=submit], 
    button.btn-success {
        background: #8888aa ;
        padding-left: 2em;
        transition: all .3s ease-in;
        border: solid 1px transparent !important;
    }

    form input[type=submit]:hover, 
    button.btn-success:focus, 
    button.btn-success:hover {
        background: #81ACCE;
        padding-left: 1em;
    }

}