
$gold-color: #FFEE58;
$dark-gold : #aca24f;
$light-blue: #f5f8fa;
$darker-primary-color: darken($primary-color, 40%);
$dark-blue: #334;
$accent-color-1: #FFEE58;

.default_font_family {
	font-family: 'Raleway','Roboto','Helvetica Neue','Helvetica','Segoe UI','Arial','sans-serif';
}

.heading {
    font-family: 'Montserrat','Raleway','Tahoma','sans';
}