.adverts-preview {

  margin-bottom: 15px !important;
  background: white !important;

  .panel {
    box-shadow: none;
  }

  .advert-body {

    .advert-heading {

      background: transparent;
      border-bottom-color: #ddd;
      margin : {
        top: 10px;
        bottom: 3px;
      }
      padding :0 15px ;

      text-transform: capitalize;

      a {
        background: none;
        font-size: 1.2em;
        color: $link-color;
        font-variant: normal;
      }

    }

    .advert-desc {
      font-size: smaller;
    }

  }

  figure.thumbnail {

    overflow: hidden;
    padding: 0;
    margin : {
      top: 10px;
      bottom: 10px;
    }
    max-height: 100px;
    border: $light-gray-border;

    img {
      border: none;
      padding: 0;
      margin: 0;
    }

  }

}