#client-sidebar {
	$base-color: $dark;
	
	z-index: 50;
	overflow: hidden;
	background: $base-color ;
	transition: width .3s ease-out;

	button {
		background: none;
		border: none;
		outline: none;
		color: $white;
		transition: text-shadow .3s cubic-bezier(.01, .43, .22, .97);

		&.active {
			color: $primary-color;
		}
	}

	ul {
		padding: 0;
		width: 100%;
		overflow-x: hidden;
		display: inline-block;
		vertical-align: middle;
		margin: 10px 0 0;
		
		& > li {
			.icon {
				width: 30px;
				transition: all .3s ease-out;
			}
		}

		li {

			a {
				width: 100%;
				color: $white;
				display: block;
				margin: 0 auto;
		        padding: .5em 1em;
				text-decoration: none;
				text-transform: capitalize;
		        white-space: nowrap;
		        transition: all .3s ease-out;
		        
				&:hover {
		            background: lighten($base-color, 10%);
				}
			}

			&.active {
				a {
					border-left: solid 5px $primary-color;
					color: $primary-color;
			        background: darken($base-color, 15%);
			    }
			}
			
			& + div {
				background: rgba(0, 0, 0, 0.3);
			}
		}

	}

	& > ul ul {
		border-left: solid 5px white;
		margin: 3px 1.3em;
	}

	@media screen and (min-width: 768px) { 
		left: 0;
		bottom: 0;
		padding: 0;
		height: 100vh;
		top: 0;
		z-index: 50;
		
		&.col-slide-hide {
			width: 50px;

			ul > li {
				.icon {
					padding-right: 2em;
				}
			} 
			& + #main-col {
				margin-left: 50px;
			}
		}
	}
}