<script>
export default {

  name: 'EventCard',

  data () {
    return {
      liked: false
    };
  },
  methods: {
  	getSelf() {
  		console.log(this.$el);
  	},
    like() {
      this.liked = !this.liked;
    }
  }
};
</script>

<style lang="css" scoped>
</style>