<template>
    <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6 green">
        <slot name="event-time"></slot>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <slot name="event-title"></slot>
        <slot name="event-venue"></slot>
        <slot name="event-description"></slot>
    </div>
    </div>
</template>
<<script>
export default {
  name:"single-event",
  data:{

  }
}
</script>
<style>
.green {
    background-color: green;
}
</style>
