<template>
    <div class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" @click.prevent="hideSelf">&times;</button>
            <h4 class="modal-title">
              <slot name="modal-title"></slot>
            </h4>
          </div>
          <div class="modal-body">
            <slot name="modal-body"></slot>
          </div>
          <div class="model-body">
           <slot name="modal-image"></slot>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default"  @click.prevent="hideSelf" >Close</button>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
    export default {

      name: 'Modal',
      props: ['show'],
      data () {
        return {
          
        };
      },
      watch : {
         show() {
            this.show ? this.showSelf() : this.hideSelf();
         }
      },
      methods: {
        showSelf () {
            $(this.$el).modal('show');
        },
        toggleSelf() {
            $(this.$el).modal('toggle');
        },
        hideSelf() {
            $(this.$el).modal('hide');
            this.$emit('closed');
        }
      }
    };
</script>