<template>
  <li>{{ todo.text }}</li>
</template>




<script>
  export default {
      props: ['todo']
  }
</script>


<div id="app-7">
  <ol>
    <todo-item v-for="item in groceryList"
      v-bind:todo="item"
      v-bind:key="item.id">
    </todo-item>
  </ol>
</div>