
%drag-drop {
	padding: .5em;
	text-align: center;
	border: dashed 3px #ccc;
    border-radius: 3px;
    
    figure {
        float: left;
        margin: 5px;
    }
    
    .sr-rb {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 50px;
        color: white;
        border-radius: 50%;
        border: solid 3px white;
        background: rgba(0, 0, 0, 0.5);
        transform: translate3d(-50%, -50%, 0);
        height: 50px;
        opacity: 0;
        transition: opacity .4s ease-out;
    }
}
