dl {
  margin-bottom:5px;
  display: block;
  clear: both;
  position: relative;

	dt {
	  float:left;
	  font-weight:bold;
	  margin-right:10px;
	  padding:5px;
	}

	dd {
	  margin:2px 0;
	  padding:5px 0;
	}

	&.space {
		width: 100%;
		dt,dd {
			
		}
		dt {
			width: 30%;
			margin: 0;
		}

		dd {
			width: 60%;
			margin-left: 30%;
		}
	}
}