
%circle-pagina {

    li {
        
        &.active {
            a, span {
                background: $accent-color;
                border: none;
            }
        }

        a, span {
            margin: {
                left: 5px;
                right: 5px;
            };
            width: 35px;
            height: 35px;
            border-radius: 30px;
            display: inline-block;
            background: $light-gray;
        }

    } 
}
