.heading {
    -webkit-font-smoothing: anti-aliased;
    -moz-osx-font-smoothing: grayscale;
}

//bootstrap badges
.tag {
	@extend .p-5;

	background: $primary-color;
	color: $accent-color;
	border-radius: 3px;
	line-height: 30px;
}

.text {
    &-center {
        text-align: center;
    }

    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }
}
