.card {
  box-shadow: 0 3px 3px rgba(0, 0, 0, .4);

  background: white;
  border-radius: 3px;
  overflow: hidden;
  padding: 1em;
  box-sizing: border-box;
  display: block;
  font-size: 4em;


  //heads a pointer cursor
  &.pointed,
  &.cursored {
    cursor: pointer;
  }

  .card-image {
    margin: {
      top: -30px;
      left: -15px;
      right: -15px;
    }
    overflow: auto;
    padding: 0;

    img {
      width: 100%;
    }

    .img-thumbnail {
      padding: 0;
      object-fit: cover;
    }
  }

  .card-heading {

    .card-title {
      font-size: 4em;
      color: $black;
    }

    .card-label {
      box-shadow: $z-depth-bottom-1;

      // background: radial-gradient(ellipse farthest-corner at 15px 15px, lighten($primary-color, 10%) 0%, $primary-color 50%, darken($primary-color, 10%) 95%);
      background: lighten($primary-color, .72);
      padding: .8em;
      color: $accent-color;
      line-height: 20px;
      position: relative;
      border-radius: 3px;
      margin-top: -35px;
      margin-bottom: 15px;
    }
  }

  .card-content {
    font-size: .8em;
    text-align: justify;
  }
}