.img-fluid{
  max-width: 100%;
  height: auto;
}

.heading{
  font-family: 'Roboto Condensed','sans-serif';
  margin-bottom: 5px;
}

.avatar-text { 
    $base : 30px;

    text-decoration: none;
    background: lighten($primary-color, 30%);
    width: $base;
    height: $base;
    display: block;
    border-radius: 50%;
    line-height: $base;
    text-align: center;
    color: $white;
    font-size: 1.5em;
}


figure {


  img {
    width: 100%;

    .circle {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
    }
  }
}