<template>
	<div class="quick-form">
		<form method="post" @submit.prevent="updateAdmin" :action="action">
			<div class="form-group">
				<label>Username</label>
				<input type="text" name="username" placeholder="enter username" class="form-control" :value="username"/>
					<span class="text-danger"></span>
			</div>

			<div class="form-group">		
				<label>Password</label>
				<input type="text" name="password" class="form-control" placeholder="enter password..."/>
					<span class="text-danger"></span>
			</div>

			<div class="form-group">
				<label>Grant Privilege</label>
				<select id="priv" name="privilege" class="form-control">
	                <option value="3">Main</option>
	                <option value="2">Categories</option>
	                <option value="1">Analytics</option>
	                <option value="0">disabled</option>
	            </select>
					<span class="text-danger"></span>
			</div>

			<div class="form-group">
				<input type="hidden" :value="admin_id" name="xerox"/>
				<input type="hidden" value="PUT" name="_method">
				<input type="submit" name="update-admin" class="btn btn-default" value="update"/>
			</div>

		</form>
	</div>
</template>

<script>
	export default {

		props: {
			username: {
				type: String,
				required: true,
			},
			privilege: {},
			
			action: {
				type: String,
				required: true,
			},
			admin_id: {
				type: String,
				required: true,
			}
		},

		data() {
			return {

			}
		},

		methods: {
			updateAdmin() {
				console.log('updating admin');
			}
		}
	}
</script>