<template>
	 <li class='list-group-item' :data-zero="admin_id">
        <a @click.prevent="showDetails" :href="[showLink ? linkAddress : '']">
            
            <span id="admin_name">
                {{ fullname }}
            </span>                            

            <span class='pull-right'>
                <i class='fa fa-lock'></i>
                {{ privilege }}
            </span>
        </a>
    </li>

    <!-- <div is="AdminForm" 
		:admin_id="admin_id"
		:username="username"
		:action="action">
	</div>
 -->
</template>

<script>

	import AdminForm from './AdminForm.vue';
	
	export default {

		props: {
		   privilege: {
		    type: String,
		    required: true,
		  },
		  admin_id: {
		  	type: String,
		  	required: true
		  },
		  fullname: {
		  	type: String,
		  	required: true
		  },
		  linkAddress: {
		  	type: String,
		  	required: true,
		  }
		},

		data () {
			return {
				showLink : true,
			}
		},

		methods: {
			showDetails(ClickEvent) {
				console.log(this.linkAddress);
				axios.get(this.linkAddress).then( (rsp) => {

				});
			}
		}
	}
</script>