<template>


	<div class="list-group-item col-sm-12 clearfix" :data-index="index" :data-xerox="advert.id">
		
		<div class="row">
			
		<figure class="thumbnail col-sm-1">
			<img :src="'http://localhost/storage/adverts/' + advert.image">
		</figure>

		<div class="advert-box col-sm-11">
			
			<div class="row">
					
				<h4 class="advert-label col-sm-9">
					{{ advert.label }} <br>
					<span class="text-muted">&#x20A6; {{ advert.price }}</span>
				</h4>

				<span class="text-right col-sm-3">
					<button class="btn btn-default" @click="disable()">
						<i class="fa fa-trash-o fa-2x"></i>
					</button>
				</span>

				<div id="advert-description" class="text-muted col-sm-12">
					{{ advert.description.substring(0,100) + "..." }}
				</div>

			</div>

		</div>

		</div>
	</div>

</template>

<script>
	export default {

		props: {
			index: {
				type: Number,
				default: null,
			},
			userId: {
				type: Number,
				required: true
			},
			advert: {
				type: Object,
				required: true,
			}
		},

		methods: {

			disable() {
				$(this.$el).slideUp(300);
				axios.post(_parent.props.deleteLink, {
					params : {
                        activity: "deleteAdvert",
                        _token : Laravel.csrfToken,
                        advertXerox : this.advert.id, //advert id
                        xerox : this.userId, //user id
					} 
				}, function(e){
					if(e.success === true){
						alert("advert deleted for user");
						$(_advertParent).addClass("collapse");
					}
				});

			}
		}

	}
</script>
