<template>

    <!-- user manager main bar -->
    <div id="search-bar" class="row"> 
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>                            
            </span>
            <input @input="findUser" @blur="searchHints" type="search" data-search="main" class="form-control" :placeholder="placeholder"/>
        </div>
    </div>

</template>

<script>

	export default {

		props: {
			list: {
				type: String,
				required: true,
				default: null,
			}
		},

		mounted() {
			this.searchHints();
		},

		data() {
			return {
				start: 0,
				messages : [
					"username @joseph_kelvin",
					"fullname: Joseph Julius Owonvwon",
				],
				placeholder: 'Hello James'
			}
		},
		computed: {
			current() {
				return this.start = this.start > (this.messages.length - 1) ? 0 : this.start;
			}
		},

		methods : {

			searchHints () {
				
				this.loopId = window.setInterval(() => {

					this.placeholder = this.messages[this.current];
					this.start++;

				}, 3000);

			},

			findUser (e) {

				console.log(this.loopId);
				clearInterval(this.loopId);
				
				axios.get('search', {
					params : {
						person: true,
		                q: e.target.value
		            }
	            }).then((rsp) => {
		            UserPanel.populateUsersList(rsp.data);	            	
	            }).catch(() => {
	            	console.warn('Search Engine route No Connected');
	            });

			}
		}
	}
</script>