<template>

	<li class="list-group-item">
	    <span class="count">{{ Math.ceil(key + 1) }}</span>
	    {{ user.fname.caps() }} {{ user.lname.caps() }} 

	    <span class="pull-right">
	        <button :data-zero="user.id" @click.prevent="show" class="submit">
	            VIEW <b>PROFILE</b>
	        </button>
	    </span>
	</li>

</template>

<script>

	import AdvertPanel from './UserAdvertPanel.vue';

	export default {
		
		props: {
			user : {
				type: Object,
				required: true
			},
			index: {
				type: Number,
				required: false,
				default: 0
			}
		},

		mounted() {
			// console.log("userList is mounted");
			this.doFunction();
		},

		data() {
			return {
				showAdvert: false,
				records: {},
				advertsRecord: {}
			}
		},

		methods: {

			doFunction() {

				switch(this.$root.userAction) {
					case "adverts":
						this.getAdvert();
						break;

					default:
						this.getAdvert();
						break;
				} 
			},

			getAdvert() {

				let _parent = global.UserPanel;
				let _root = this.$root;

				console.log(_parent, _root);
				return false;

				//removes the active styleClass from all buttons
				_parent.props.usersBox
					.find(_parent.props.editButtonSelector)
					.removeClass("set");

	            let activity = window.App.userAction;
	            var _xerox = _parent.current = $(this.$el).find('button').addClass('set').attr('data-zero') || 1;
	            //gets the id from the button
	            _parent.props.lastButton = this.$el; //button
 
	            //asks for information
	            axios.request({
	            	method: 'GET',
	            	url: _parent.props.editLink,
	            	responseType: 'json',
	            	params: {
	            		'xerox': _xerox,'activity': activity}
	            	})
	            .then((rsp) => {
					
					_root.setAdvertData(rsp.data);

	            })
	            .catch(() => { 
	            	$.notify({'icon' : 'glyphicon glyphicon-exclamation-sign', message:'Error Fetching the Request'},{
						type: 'danger',
	            	});
            	});

			},
			show() {
				this.$root.canShowAdvert = true;
			},
			getServices() {
				// console.log('getting services');
			},
			getInfo() {
				// console.log('getting information');
			}
		},

		components: { AdvertPanel }

	}
</script>