<template>
	<div id="users-list" :class="className">
                
        <div class="row">

            <div class="panel">
                
                <h5 class="panel-heading panel-default">
                    Users<b>List</b>
                </h5>

                <div class="list-group">
                    
                    <li is="UserList"
                    	v-for="(a, key) in usersData"
						v-bind:user="a"
						v-bind:key="index">
                    </li>

                </div>

                <div class="panel-footer text-center">
                    
					<slot></slot>
					
                    <div>
                        <span id="counter" class="badge"> 
                            <span>{{ userCount }}</span> Users Found 
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>

	import UserList from './UserPanelList.vue';
	
	export default {

		props: {
		  className: {
		    type: String,
		    required: false,
		    default: "col-sm-12 col-md-4",
		  },
		  usersList: {
		  	type: Object,
		  	required: true,
		  },
		  pagina: {
		  	type: String,
		  	required: false
		  }
		},

		mounted() {
			this.usersData = this.$root.UserPanel.UserList = this.usersList.data;
		},

		computed: {
			userCount() {
				return $(this.usersData).length;
			},
			
		},

		data() {
			return {
				count: 1,
				usersData: {}
			}
		},

		methods: {
			counter() {
				return this.count++;
			}
		},

		components: { UserList }
	}

</script>