<template>
	<!--for users adverts display-->
    <div id="user-adverts" class="col-sm-12">
        <div class="row">
            
            <div class="panel">

                <div class="panel-heading panel-default clearfix">
                    <figure class="thumbnail col-sm-1">
                        <img :src="user.photo"/>
                    </figure>
                    <div class="col-sm-8 text-left">
                        <b><span class="name-title">{{ user.fullname }}</span></b>
                        <br>
                        @{{ user.username }}
                    </div>
                    <div class="col-sm-3">
                        ADS: <span id="NOA" v-html="countAds"></span>
                    </div>
                </div>

                <div class="panel-body row">
                    <ul id="adverts-list" class="list-group">

						<AdvertBox v-for="(advert, index) in adverts" :user-id="user.id" :key="index" :advert="advert">
						</AdvertBox>

                    </ul>
                </div>

            </div>
        </div>
    </div>
</template>


<script>
	
	import AdvertBox from './AdvertBox.vue';

	export default {

		props: {
		  user: {
		    type: Object,
		    required: true
		  },
		  adverts: {
		  	type: Array,
		  	required: true
		  }
        },
        
        mounted() {
            console.log(this.user);
        },

		computed: {
			countAds() {
				return ($(this.adverts).length <= 0) ? `<i class="fa fa-spinner fa-spin"></i>` : $(this.adverts).length;
			}
		},

		components: {AdvertBox}

	}

</script>