<!-- main.mjml -->
<mjml>
    <mj-head>
        <mj-title> Password Retrieval </mj-title>
        <mj-include path="./attributes"/>
    </mj-head>

    <mj-body>
        <mj-container>

        <mj-include path="./header" />
            
        <mj-section border-top="solid 4px dodgerblue" background-color="#fff">
             <mj-column width="600">
                <mj-text align="center" font-size="30" padding-top="0" color="dodgerblue">
                    PASSWORD RETRIEVAL 
                </mj-text>
            </mj-column>
        </mj-section>

        <mj-section>
            <mj-column width="600">
                <mj-text mj-class="bold" padding="0">
                    HI! <?php echo @$name ?>,
                </mj-text>
            </mj-column>

            <mj-column width="600">
                <mj-text padding="5">
                   You ordered for a change in your password as a result of you forgetting your password,
                   To change your password please click on the button on the right &dot;
                </mj-text>
            </mj-column>

            <mj-column width="200">
                <mj-button
                        padding="4"
                        font-size="15"
                        color="white"
                        background-color="dodgerblue"
                        href="joiking">
                    VERIFY
                </mj-button>
            </mj-column>
        </mj-section>

        <mj-include path="./footer.mjml" />
        </mj-container>
    </mj-body>
</mjml>