
#manage-categories {

	.panel {
		@extend .panel;
	}

	li.list-group-item {
	    position: relative;
	    margin: auto 0;
	    cursor: pointer;
	    border-top: solid 1px #ddd;
	    border-left: solid 0 #bd3;
	    border-right: solid 0 #bd3;
	    box-shadow: 0 0 0 rgba(0,0,0,.1);
	    transition: all .5s ease-out 0s inset;
	    z-index: 0;

		.text-nowrap {

			i:first-child , span:first-child {
				margin-right: 10px;
				width: 15px;
				color: $dark-gray;
			}

		}

		button[data-del] {
		    border: none;
		    background: transparent;
		    margin: 0;
		    padding: 0;
		}

		&.active {
			$backcolor: $light-gray;//darken($accent-color, 0%);//#bd3;

		    color: $accent-color;
		    border: none;
		    background: white;
		    border-top: solid 5px darken($light-gray, 30%);
		    border-left: solid 5px $backcolor;
		    border-right: solid 5px $backcolor;
		    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;

		    & + div.list-group-item {
			    background: $backcolor;
			    padding: .3em 5px;
			    min-height: 90px;
			}
		}

		&:hover {
		    background: #e8e8e8;
		    z-index: 3;
		}
	}


	div.list-group-item {
	    height: 0;
	    padding: 0;
	    overflow: hidden;
	    border: none;
	    min-height: 0;
	    transition: all .3s ease-out .2s;

		input {
		    height: 35px;
		    color: #333;
		    display: inline-block;
		    border-radius: 3px;
		    padding: .5em ;
		    border: none;
		    box-shadow: $z-depth-bottom-1;
		    background: white;
		    margin-bottom: .3em;
		}
	}
}
