body {
    background: #eee;
}

.navbar {
    border: none;
    border-radius: 0;
    background: $a-navbar-top-color;
    z-index: 50;
    box-shadow: 0 3px 4px rgba(0,0,0,0.2);
    
    .navbar-brand{
        font-size: 2em;
        color: $accent-color;
        font-family: $heading-font;
    }
}

body > main {

    padding: 0;
    margin: 0;

    #pt-container {
        padding: {
            bottom: 10px;
        };
        position: relative;
        z-index: 3;
        min-height: 600px;
        min-height: 90vh;
        overflow: hidden;
    }

}

.heading {
    @extend .heading;
    font-family: $heading-font;
    text-decoration: overline;
}



/* dashboard styles start */

#dashbox{
    padding: 0 .5em;
}

.heading{
    position: relative;
    text-decoration: none;
}

.heading::after{
    bottom: 0px;
    top: unset;
    content: "--1010101010101";
    color: dodgerblue;
    font-size: 0.3em;
    position: absolute;
    left: 10px;
    width: 30px;
    height: 2px;
}

.card-list{
    margin: 5px;
    border-radius: 5px;
    padding: 2em 1em;
    box-sizing: border-box;
    float: left;
    overflow: auto;
}

.card-list >  * {
    display: inline-block;
    font-variant: all-petite-caps;
    letter-spacing: 2px;
    font-size: 1.2em;
    float: left;margin: 0 5px; line-height: 100px;
}

.card-list .counter{
    height: 100px;
    background: white;
    width: 100px;
    border: solid 1px #ccc;
    border-radius: 50%;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
    font-size: 3em;
    position: relative;
}

.card-list.animate > .counter{
    animation: resizeText .2s 1 forwards ease-in-out 4.4s ;
}


.counter::after{
    border: solid 2px red;
    border-color: lime transparent;
    content: "";
    transform-origin: center center;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    border-radius: 50px;
}

.card-list.animate > .counter::after{
    animation: spin 2s 1 forwards ease-in-out 0s;
}

/* .............. manage categories section */

*[class^=alert] {
    border-radius: 13px;
    padding: .3em 1em;
    box-sizing: border-box;
    font-size: smaller !important;
}

.quick-form {
    @extend %form-style-2;
}

.pagination {
    @extend %circle-pagina;
}

.panel {
    border: none;
    box-shadow: $z-depth-bottom-1;

    .panel-heading {
        text-align: right;
    }

    .panel-footer {
        background: transparentize($accent-color, .82);
        background-blend-mode: multiply;
        color: $black;
    }
}

@media screen and (min-width: 769px) {
    body > .navbar {
        position: fixed;
        width: 100%;
        right: 0;
        left: 0;
        top: 0;
    }

    body> main {
        margin-top: 50px;
    }
}

body > .navbar-default button {
    background: none;
    border: none;
    padding: .3em .4em;
    font-size: larger;
    color: white;
    text-shadow: 7px 0 lightblue;
    transition: text-shadow .3s cubic-bezier(.01,.43,.22,.97);
}

body > .navbar-default button.active {
    text-shadow: -5px 0 lightblue;
}

.navbar-default li::after {
    background: skyblue !important;
}

.navbar-default .user-thumbnail {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    border: solid 1px #3ad;
    object-fit: cover;
}

.panel {
    padding: 0;
    font-family: 'montserrat';
    font-size: small;
}

.panel .panel-heading, .panel .panel-title {
    color: #233d57;
    text-transform: uppercase;
    font-variant: all-small-caps;
}

.panel *[class^="aler"] {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

footer {
    float: left;
    width: 100%;
    margin-top: 3em;
    text-align: right !important;
    color: #3ab !important;
}

.upload-button {
    border: solid 1px #333;
    padding: .3em .5em;
    display: inline-block;
    width: auto;
    margin: 5px auto;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}

.upload-button:after {
    content: '';
    left: 0;
    right: 0;
    top: 95%;
    mix-blend-mode: multiply;
    bottom: 0;
    position: absolute;
    transition: all .3s ease-out;
    background: rgba(100,150,250,0.5);
}

.upload-button:hover:after {
    top: 0;
}

.upload-button + input {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    display: none;
}

