//user search panel
#search-bar {
	
    height: auto;
    margin : {
    	top: 0px;
    	bottom: 30px;
    };
    border-radius: 0;
    line-height: 40px;
    padding: .5em 1em ;
	background: lighten($a-navbar-top-color, 30%);
	
	.input-group {
    	box-shadow: $z-depth-bottom-1;
    	border-radius: 3px;
    	overflow: hidden;
	}

    * {
    	border: none;
    	background: $white;
    	box-shadow: none;
    }

	input[type=search] {
	    height: 40px;
	    font-weight: 300;
	    font-family: 'Raleway' + $default-font;
	    font-style: italic;
	    color: $primary-color;

	    &:focus {
		    background: white;
		    outline: none;

			& + input[type=submit] {
			    padding: 0 1em;
			}
		}
	}

	button.search {
	    height:40px;
	    box-shadow: none;
	    margin: 0;
	}

	& > i {
	    background: #eee;
	    height: 40px;
	    font-size: 10px;
	    margin-left: 6px;
	    margin-right: -10px;
	    line-height: 43px;
	    padding: 0 15px;
	}

}

//users list panel
#users-list {

	.panel {
		box-shadow: $z-depth-bottom-1;
	    border-radius: 0;

		.panel-body {
		    padding: 0;
		}

		.pagination {
			margin: 0;
		}
	}

	.list-group-item {

	    border-radius: 0px;
	    border-left: 0;
	    border-right: 0;
	    cursor: pointer;
	    transition: background .1s ease-out;

		span.count {
			$width : 15px;
			width: $width;
			display: inline-block;
			line-height: 1;
			border-right: solid 2px $light-gray;
			margin-right: $width / 2 ;
		}

	    button {
		    background: none;
		    border: none;
		    color: #888;
		    background: transparent;
		    border: solid 1px rgba(0,0,0,0.3);
		    outline: none;
		    height: 20px;
		    border-radius: 5px;
		    font-size: smaller;

		   	&.set {
			    color: $accent-color;
			    border: solid 1px $accent-color;
			}
		}

	    &:hover {
		    background: linear-gradient(90deg,#f8f8f8,#eee);
		}
	}

	#counter {
		background: transparentize($black,.84);
	}
	@media (min-width: 1200px){

        // position: fixed;
        // right: 10px;
        // margin-left: 30px;
	    
	    // #users-list .panel-body {
	    //     overflow-y: scroll;
	    //     overflow-x: hidden;
	    //     margin-top: -10px;
	    //     /*! padding: 10px; */
	    // }
	}
}

//user ajax panel
#user-panel #details-list {

	#mat-no {
	    float:right;
	    padding: .3em 1em;
	    background: #1e90ff;
	    color: white;
	}

	.list-group-item {
	    background: transparent;
	    border: none;
	}

	i , b {
	    color: yellowgreen;
	}

}

#user-services figure {
    padding: 0;
    background: #ddd;
}

/* manage services stylesheet */
#service-list {
	
	.list-group-item {

		& + form.list-group-item {
		    background: #ddd;

		    input , textarea {
		    	@extend %input;
		    	margin-bottom: 5px;
		    	box-shadow: 0 0;
		    	&:focus {
		    		box-shadow: $z-depth-bottom-1;
		    	}
		    }

		    textarea {
		    	min-height: 100px;
		    }
		}

		.btn-group-xs {
		    margin-top: -30px;
		    margin-right: 10px;
		    float: right;

			button {
			    border-radius: 3px;
			    border: none;
			    position: relative;
			    background: white;
			    z-index: 3;
			}
		}
	}

	textarea {
	    max-width: 100%;
	}
}

#user-adverts {
	
	.panel {
		box-shadow: $z-depth-bottom-1;
	}

	.list-group {
	    text-align: center;
	    max-height: 500px;
	    overflow-y: scroll;
	    overflow-x: hidden;
	    padding-top: 10px;
	    margin-top: -15px;

		.list-group-item {
		    display: inline-block;
		    width: 97%;
		    float: none;
		    text-align: left;
			border-radius: 0;
			border-bottom: solid 1px $light-gray;

			&.collapse {
			    display: none;
			}

			button {
			    border: none;
			    background: transparent;
			}

		}

		.advert-label {
		    margin-top: 0;
		    color: $accent-color;
		}
	}

	.panel-heading {
		
	    font-size: 1em;
		line-height: 20px;
		font-variant: normal;
	    text-transform: inherit;

		figure {
		    width: 40px;
		    height: 40px;
		    overflow: hidden;
		    margin: 0;
		    padding: 0px;
		    background: #ddd;
		}
	}

	#adverts-list {

		figure {
		    width: 50px;
		    height: 50px;
		    overflow: hidden;
		    padding: 0px !important;
		    background: darken($white,2%);
		}

	}
}

