

#main-nav {

    position: relative;
    min-height: 100vh;
    z-index: 5;

	& > ul {

	    left: 0;
	    height: 100vh;
	    width: 100%;
	    padding: 1em 0 3em;
	    background: $sidebar-color;

		@media screen and (min-width: 768px) {

	        width: ( 100% / 12) * 2;
	        position: fixed;
	        left: 0px;
	        top: 50px;

		}

	    %list {
	    	display: block;
		    font-family: $default-font;
		    color: $white;
		    padding: .5em 0 .5em 1em;
	    }

		li {
			
			@extend %list;
		    

		    i:first-child,
		    span:first-child {
		    	margin-right: 15px;
		    }

			a {
			    text-decoration: none;
			    color: inherit;
			    transition: color .3s ease-out;

			    &:hover {
			    	color: $a-primary-color;
			    }
			}

			&.active {
			    background: transparentize($a-primary-color,.87);
			    border: none;
			}

			& + div {
			    width: 100%;
			    overflow: hidden;
			    background: transparentize($a-primary-color,.77);
			    transition: height .3s ease-out .3s;

				& > ul {
				    padding: .5em;
				    padding-left: 0em;
				    box-sizing: padding-box;

				    li {
				    	@extend %list;
				    	padding-left: 2em;
				    }
				}
			}
		}

	}

}