%material-input {

	.form-control {
		@include ease-out;
		$border-width : 1px;

		border: 0;
		padding-left: 0;
		padding-right: 0;
		box-shadow: none;
		background: $white;
		border-bottom: solid $border-width $light-gray;

		&:focus,
		&:hover {
			border-bottom: solid $border-width $secondary-color;
		}

	}

	.btn {
		@extend %material-btn;
	}

}

%material-btn {

		@include box-shadow(0, 2px, 2px, fade-out($black, .8));
		@include font('Roboto Condensed');
		border: 0;
		text-transform: uppercase;
		background: $white;
		padding: .2em 1em;
		border-radius: 3px;

		&-primary {
			color: $white;
			background: $secondary-color;
		}
}
