.price-card {

	@include relative-block;
	background-color: $white;
	box-shadow: $shallow-box-shadow;
	border-radius: $small-curve;
	margin-bottom: 30px;
	padding: 10px 15px;
	max-width: 300px;
	min-height: 300px;
	@include font('Roboto Condensed');
	$background: #4A7EB9;
	cursor: default;

	.card-heading {

		@include font('Roboto Condensed');


		.card-title {
			margin-top: 0;
			width: 80%;

			.small-bold {
				@include small_bold;
				letter-spacing: -2px;
			}

			.big-thin {
				@include big_thin;
			}

			.smaller {
				font-size : ( $font-size-1 / 1.1 )
			}

		}

		.material-note {
			@include material-note($price-primary-color);
		}

		.price-tag-wrap {

			width: 18%;

			.price-tag {
				$height : 33px;

				background: $background;
				position: absolute;
				right: -20px;
				top: 50px;
				box-shadow: $deep-box-shadow;
				min-height: $height;
				line-height: $height / 2;
				font-size: $font-size-1;
				padding: .2rem 1rem;

				.currency {
					margin-right: 14px;
					font-size: $font-size-2;
					color: fade-out(#000000, .8);
				}

				.price-range {
					color: $white;
					text-transform: uppercase;
					font-size: $font-size-2;
					font-style: italic;
					@include font("Roboto");
				}
			}

		}

		.card-title,
		.price-tag-wrap {
			display: inline-block;
		}

	}

	.card-options {

		@include no-padding;

		li.card-option {
			$height : 30px;
			display: block;
			margin-bottom: 14px;
			color: $price-primary-color;
			cursor: pointer;

			span {
				float: left;
			}

			.icon {
				margin-right: 16px;
				@include radio($height,5px);

				&.active {
					@extend .icon;
					@include radio($height,5px,true);
				}
			}

			@include normal;
			@include fixed_height($height);
		}
	}

	.card-footer {
		background-color: #efefef;
		@include margin-no-top(-15px);
	}

}
