@import "./clients/sidebar.scss";

body {
	background: #e8e8e8;
}

.navbar-default {
	background: #fff;
	height: 50px;
	width: 100%;
	border: {
		width: 3px;
		color: $accent-color;
	}
	button {
		background: none;
		border: none;
		margin-right: 10px;
		outline: none;
		font-size: larger;
		color: yellowgreen;
		text-shadow: 7px 0 greenyellow;
		transition: text-shadow .3s cubic-bezier(.01, .43, .22, .97);

		&.active {
			text-shadow: -5px 0 greenyellow;
		}
	}

	.user-thumbnail {
		width: 30px;
		height: 30px;
		margin: 0;
		padding: 0;
		border: solid 1px #3ad;
		object-fit: cover;
	}

}
.navbar-default .navbar-header>.navbar-brand a {
	color: #333;
}

.navbar-default nav.navbar-nav *:after {
	display: none;
}

.navbar-default nav.navbar-nav>li>a {
	color: #aaa;
}

.navbar-default nav.navbar-nav>li:hover>a {
	color: #888;
}

#pt-container {
	background: transparent;
	min-height: 100vh;
	transition: margin .3s linear;
}

footer {
	float: left;
	width: 100%;
	margin-top: 3em;
	text-align: right !important;
	color: #3ab !important;
}

//client services page
#service-list {
	padding: 0;

	button {
		background: $white;
		color: $link-color;
		line-height: 30px;
		$height : 40px;
		@include square($height);
		line-height: $height / 2;
		border-radius: 50%;
		border: solid 1px $light-gray;

		&:hover ,
		&.set {
			background: transparentize($accent-color, .55);
			color: $white;
		}
	}

	& > ol {
		overflow-y: scroll;
		max-height: 600px;
		display: block;
		padding: 1em;
	}

	.list-group-item {
		@include border-radius(0px);
		border: none;
		padding: 0;
		margin: 15px 0;
		overflow: hidden;
		line-height: 30px;
		transition: height .3s ease-in, padding .3s linear;

		figure {
			padding: 0;
			overflow: hidden;
			max-height: 100px;
			background: linear-gradient(180deg, #eee, #e8e8e8, #ccc);

			& > img {
				@include centralize();

				opacity: 0.8;
				filter:  blur(.7px);
			}
		}

		& > div {
			padding-top: 5px;
			background: $whitesmoke;
			padding-bottom: 5px;
		}

		&.collapse {
			height: 0;
			padding: 0px 0 0 1em;
		}
	}

}

#service-card {

	background: white;
	padding: 15px;
	overflow: hidden;
	border-radius: 5px 5px 0 0;

	form {
		@extend %form-style-2;
		padding: 0;
	}

	form>figure {

		background: linear-gradient(45deg, #efadad, #8779d2);
		border-bottom: solid 1px #bbb;
		position: relative;
		width: calc( 100% + 30px);
		overflow: hidden;
		min-height: 200px;
		max-height: 200px;
		margin-left: -15px;
		margin-top: -15px;

		&:hover>.sr-rb {
			opacity: 1;
		}

		&::after {
			position: absolute;
			background: rgba(0, 0, 0, .3);
			content: "";
			z-index: 3;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}

		label {
			position: absolute;
			left: 50%;
			z-index: 5;
			border-radius: 30px;
			color: white;
			padding: 0.5em 1em;
			border: none;
			transform: translate3d(-50%, -50%, 0);
			top: 100px;
			transition: all .3s ease-out;
			&:hover {
				border-color: white;
				background: white;
				color: black;
			}
		}
	}

	.drag-drop {
		@extend %drag-drop;

		color: #333;
		background: #e8e8f8;
	}
}

#edit-services {
	padding: 0;
}
//end client service page


/* ACCOUNTS */

#account__update form input {
	font-size: smaller;
	width: 95%;
}

#account__update .form-inline .form-group {
	width: 49%;
	box-sizing: border-box;
	margin-bottom: 5px;
	display: inline-block;
}

#account__profile {

	.thumbnail {
		max-width: 50px;
		border-radius: 3px;
		margin: 1em auto;
		overflow: hidden;
		padding: 0;
		margin-right: 30px;
	}

	.inline {
		width: 70%;
	}

	.inline, .thumbnail {
		display: inline-block;
	}
}

#account__profile table {
	box-shadow: none;
	font-size: auto;
	border: none;

	tr {
		background: transparent;
		td {
			border: none;

			&:first-child {
				text-align: center;
			}

			i.fa,
			span.fa,
			span.glyphicon
			i.glyphicon {
				margin-right: 0px;
			}
		}
	}

	table tr > td {
		padding: .3em;
	}
}

/* ADVERTS STYLE */

#advert-box {

	.panel-body {
		overflow: hidden;
		border-radius: 3px;
		background: $light-gray;

		@media screen and (min-width: 600px) {
			max-height: 100vh;
		}
	}
}

.adverts-preview {
	margin-bottom: 15px !important;
	background: $white !important;

	.panel {
		box-shadow: none;

		.panel-heading {
			background: transparent;
			border-bottom-color: $light-gray ;
			text-transform: capitalize;
			 a {
				background: none;
				font-size: 1.2em;
				font-variant: normal;
			}
		}
	}
}

.adverts-preview .thumbnail {
	margin-bottom: 0;
}

#edit-advert [data-collapse]:hover {
	color: indianred;
}

#edit-advert [data-collapse] {
	cursor: pointer;
	transition: all .1s ease-out;
}

footer {
	color: #aaa !important;
	background: transparent !important;
}

@media screen and (max-width: 400px) {
	.navbar.navbar-default {
		margin-bottom: 0;
	}
	.navbar.navbar-default>.container-fluid {
		padding: 0;
	}
	.navbar.navbar-default ul {
		width: 100%;
		position: relative;
		float: none;
		margin: 0;
		background: rgba(0, 0, 0, 0.1);
	}
	.navbar-default ul li {
		float: none;
		height: auto;
		float: right;
		display: inline-block;
	}
	#edit-advert figure {
		max-width: 48%;
		font-size: xx-small;
		text-align: center;
	}
	/*	 ACCOUNTS */
	#account__update form label {
		width: 100%;
	}
	/*	 ADVERTS */
	.adverts-preview figure,
	.adverts-preview #cat {
		display: none;
	}
	.adverts-preview .panel-heading {
		font-size: 0.8em;
	}
	footer {
		box-shadow: none;
	}
}

@media (max-width: 768px) {
	.navbar-default {
		margin-bottom: 0;
	}
	.navbar-default+#logged__in__menu.col-slide-hide {
		min-height: 0;
		height: 0;
	}
	.adverts-preview figure {
		width: 100px;
		max-height: 100px;
		padding: 2px;
		overflow: hidden;
		/*! display: none; */
	}
	.adverts-preview .panel-body {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	#logged__in__menu {
		left: 0;
		bottom: 0;
		padding: 0;
		height: 100vh;
	}
	#logged__in__menu.col-slide-hide {
		width: 50px;
	}
	#logged__in__menu.col-slide-hide ul>li i,
	#logged__in__menu.col-slide-hide ul>li span {
		padding-right: 2em;
	}
	#logged__in__menu.col-slide-hide + #pt-container {
		margin-left: 50px;
	}

	#pt-container {
		margin-top: 60px;
	}

	.navbar-default,
	#logged__in__menu {
		top: 0;
		z-index: 30;
		border-radius: 0;
		position: fixed !important;
	}
	#logged__in__menu {
		top: 50px;
		z-index: 28;
	}
}

@media screen and (max-width: 1200px) {
	#advert-box.expand {
		width: 70%;
		transition: all .3s ease-in-out;
	}
}
