
/* Login Form */
.panel {
    float: none;
    margin-top: 50px;
    margin-bottom: 40px;
}

.login-form{
    margin-top: 30px;
    margin-bottom: 5em;
}

form > .heading{
    font-family: 'molle-italic';
    margin-bottom: 5px;
}

form > *{
    display: block;
    text-align: center;
    margin: auto;
}

form button.submit{
    border-radius: 3px;
    color: black;
    border: solid 1px #aaa;
    padding: .5em 1em;
    background: white;
}

form button.submit:hover{
    box-shadow: 0 3px 2px rgba(0,0,0,0.3);
}

.cm-input-box{
    background: white;
    height: 40px;
    border-radius: 3px;
    overflow:hidden;
    margin: 5px auto;
    border: solid 1px #bbb;
}

.cm-input-box > *{
    float: left;
    height: 40px;
    border: none;
    min-width: 30px;
    line-height: 40px;
}

.cm-input-box > span{
    text-align: right;
    width: 10%;
    color: #555;
    text-shadow: 0 2px 3px rgba(0,0,0,0.2);
    margin-right: 10px;
}

.cm-input-box > input{
    width: calc( 90% - 25px) ;
    outline: none;
}

/* Ends Login Page */


