@charset "utf-8";
/* CSS Document */

/* Registration Page */

#messaging{
	font-family: 'segoe ui';
	font-size: smaller;
	border-left: solid 4px currentColor;
	padding: .3em .5em;
	display: inline-block;
}

form {

	padding: 1em;
	margin: 30px auto;
	color: black;

	hr {
		border-top: solid 1px #ddd;
		width: 50%;
	}

	h1 {
		font-family: $stylish-font;
		font-size: xx-large;
		letter-spacing: -1px;
	}

	input {
		@extend %input;
	}
}

@media screen and (min-width: 768px){
	form label{
		text-align: right;
	}
}

/* Ends Forms */