input ,
select,
textarea {
	outline: none;
}

.quick-form {

	& > * {
		vertical-align: top;
	}

	input,
	textarea,
	select {
		@extend %input;
		
		width: 100%;
		text-indent: 3px;
		height: auto;
		margin-bottom: 5px;
		border: solid 1px $light-gray;
		border-radius: 3px;
	}

	select {
		text-indent: 0px;

		option {
			padding: 5px;
        }
        
	}

	input {
		@extend %input;

		&[type=submit] {
			@extend .md-btn;
		}
	}

	.input-group-addon {
		border: solid 1px $light-gray;
	}
}

.panel {
	@extend .panel;
	border-radius: 1px;

	.panel-heading {
		border-color: $light-gray;

		.panel-title {
			letter-spacing: 1px;
			font-variant: all-small-caps;
			i {
				display: none;
			}
		}
	}
}

.upload-button {
	@extend .md-btn;

	border: solid 1px transparentize($primary-color,.30);
	padding: .3em .5em;
	display: inline-block;
	margin: 5px auto;
	text: {
		align : center;
	}
	color: $primary-color;
	border-radius: 5px;
	overflow: hidden;
	position: relative;

	&::after {
		content: '';
		left: 0;
		right: 0;
		top: 95%;
		mix-blend-mode: multiply;
		bottom: 0;
		position: absolute;
		transition: all .3s ease-out;
		background: transparentize($accent-color,.55);
	}

	&:hover {
		&::after {
			top: 0;
		}
    }

	& + input,
	& > input {
		&[type='file'] {
			width: .1px;
			height: .1px;
			position: absolute;
			display: none;
		}
	}
}

.md-btn {
	@include ease-out(background);

	background: $accent-color;
	color: $whitesmoke;
	border: none;
	box-shadow: 0 0 0 transparentize($black,1);
	transition-property: color, box-shadow;

	&:hover {
		color: $white;
		box-shadow: 0 3px 3px transparentize($dark, .65);
		background: $accent-color;
	}
}