@import '../helpers/variables';

body {
	background: $body-bg;

	& #app > .container {
		margin-bottom: 30px;
	}

	hr {
		border-color: #eee;
	}

}

.lead-heading {
	$left: 40%;
	$right: $left;
	$offset: 4%;
	@include relative-block;

	text-align: center;
	font-size: $font-size-1;
	margin-bottom: 30px;
	@include font('Roboto Condensed');

	&::after,
	&::before {
		@include absolute_content;
		@include ease-out(all, .8s);

		bottom: -10px;
		height: 3px;
		left: $left;
		right: $right;
		background: $price-primary-color;
	}

	&::before { 
		display: none;
	}

	&.flashy { 
	
		&::after { 
			left: $left - $offset;
			right: $right + $offset;
		}	

		&::before {
			display: block;
			top: 0px;
			left: $left + $offset;
			right: $right - $offset;
		}		
	}

	&.classic { 
	
		&::after { 
			left: 0;
			right: 0;
		}	

		&::before {
			display: block;
			left: 0;
			right: 0;
			top: 0;
		}		
	}
}

.no-transition {
	transition: unset !important;
}

.circle-thumbnail {
	padding: 0;
	background: $gray;
	border-radius: 50%;
	overflow: hidden;
	object-fit: cover;
}

.drag-drop,
*[ondrop] 
{

	&.shadow {
		@include box-shadow(0,3px, 4px,fade-out(black, .74));		
	}
	
	padding: .5em;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	background: $body-bg;
	border: solid 1px $gray;

	&:hover {
		border: solid 1px $drag-drop-default-color;
	}

	figure {
		float: left;
		margin: 5px;
	}

	.sr-rb {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 50px;
		color: $white;
		border-radius: 50%;
		border: solid 3px $white;
		background: fade-out($black, .5);
		transform: translate3d(-50%, -50%, 0);
		height: 50px;
		opacity: 0;
		transition: opacity .4s ease-out;
	}
}
