.aside {

  ul > li {
    margin: -2px 0 0;
    padding: 0;
  }
}

.navbar-default {
  background-color: $white;
  border-radius: 0px;
  border: none;
  box-shadow: 0 2px 1px rgba(0,0,0,0.1);

  .navbar-header{
    margin-top: 0;
    padding:0;
    .navbar-brand {
      & > * {
        vertical-align:top;
      }

      & > a {
        color: #555;
        text-decoration: none;
      }
    }
  }

  /* main navigation */
  .navbar-nav {
    li {
      line-height: 2px;
      font-size: .9em;

      margin: {
        right: 5px;
        left: 5px;
      }

      img.user-thumbnail {
        width: 50px;
        height: 50px;
        margin-top: -5px;
        border-radius: 50%;
      }
      & > a {
        color: $accent-color;
        padding: 10px 1em;
        line-height: 30px;
        z-index: 2;

        &::after {
          content : '';
          position: absolute;
          background: $accent-color;
          bottom: 0;
          left: 0;
          right: 0;
          height: 0;
          transition: all .3s ease-out;
        }
      }

      &.active, &:hover {
        a {
          color: lighten($accent-color, 10%);
          background-color: darken($white, 10%);

          &::after{
            height: 3px;
          }
        }
      }
    }
  }

}


