a{
    text-decoration: none !important;
}

.navbar {
    background: transparent !important;
}

.navbar-default{
    margin-bottom: 0;
}

.container-fluid #page
{
    float: none;
    background:rgba(0,0,0,0.2) url("../images/assets/graphic_wallpaper.jpg") 0 0 / cover fixed;
    background-blend-mode: multiply;
    min-height: 50vh;
    padding: 5em 0;
}

.container-fluid #desc{
    margin-top: 2em;
    margin-bottom: 2em;
    vertical-align: middle;
    text-align: center;
    border-radius: 3px;
    color: white;
}

.container-fluid #desc > p{
   color: #ddd;
}
.container-fluid #desc h1{
    position: relative;
}
.container-fluid #card-holder{
    padding: 4em 0;
}

.cards{
    margin: 0 13px;
    display: inline-block;
    border-radius: 100%;
    float: none;
    font-weight: 400;
    overflow: hidden;
    vertical-align: middle;
    color: inherit;
    cursor: pointer;
    transition: all .3s ease-out .6s;
}

.cards > .circle-behind{
    border-radius: 50%;
    top: 100px;
    height: 100%;
    text-decoration: none;
    position: absolute;
    bottom: 0; left: 0; right: 0;
    z-index: 1;
    transition: all .3s ease-out;
    background: transparent;
}
.cards:hover > .circle-behind{
    top: 0;
    background: greenyellow;
    border: solid 5px #96e026;
}
.cards:hover > .caption{
    font-size: 3.5em;
    text-shadow: 0px 7px 3px rgba(0,0,0,0.1);
}

.cards > .caption{
    width: 100%;
    text-align: center;
    color: #334;
    background-clip: text;
    -webkit-background-clip: text;
    display: block;
    font-size: 5em;
    z-index: 3;
    position: relative;
    font-family: 'molle-italic';
    transition: all .3s ease-out .3s;
    text-decoration: none;
    text-shadow: 0px 3px 0 rgba(0,0,0,0.1);
}
/* phones */
@media screen and (max-width: 360px){
    .cards{
        width: 100px !important;;
        height: 100px !important;;
        display: block;
        margin: 12px auto !important;
    }
    
    .cards > .caption{
        line-height: 100px;
    }
}
/* phones and tablets */
@media screen and (max-width: 700px){
    .cards{
        width: 150px;
        height: 150px;
        line-height: 150px;
        border: solid 5px #777;
        margin: 1em 3px;
    }

    .cards .caption{
        font-size: 2em;
    }

    section#page.center-block{
        padding: 0;
    }
}

/*  laptops and larger screens*/
@media screen and (min-width: 700px){
    .cards{
        width: 200px;
        height: 200px;
        line-height: 200px;
        vertical-align: text-bottom;

    }
}