// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "./base/colors";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//
.valid {
    color: green;
}

.invalid {
    color: red;
}
