@import './autoload';
@import "./base/mixins";
@import "./layouts/blog/variables";
@import "./layouts/blog/header";
@import "./layouts/blog/post-page";
@import "./layouts/blog/footer";
.advert-box {
    background: lighten($medium-gray, 40%);
    text-align: center;
    box-shadow: inset 0 -1px 3px transparentize($dark, .8);
}

::selection {
    background: transparentize($accent-color-1, .7);
    color: $dark;
}

body {
    background: #f8f8f8;
}

html,
body,
input,
select,
textarea {
    @extend .default_font_family;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    @include font('Montserrat');
}

a {
    color: #81ACCE;
    transition: all .1s ease-in;
    &:hover {
        color: skyblue;
    }
}

@media screen and (max-width: 769px) {
    #post-page {
        background: white;
        margin-top: 15px;
    }
    #post-page a>img,
    #post-page img {
        max-width: 100%;
        height: auto !important;
    }
    #sub-nav {
        min-height: 0;
    }
    body>.navbar-fixed-top {}
    body>#main-container {
        margin-top: 60px !important;
        padding-left: 3rem;
        padding-right: 3rem;
        box-sizing: border-box !important;
    }
    /*  top navigation */
    .navbar-header {
        text-align: center;
    }
    .navbar-header>button {
        float: left;
        margin-right: 0;
        margin-left: 25px;
    }
    .navbar-header .navbar-toggle:focus,
    .navbar-header .navbar-toggle:hover {
        background: #bbd;
    }
    .navbar-toggle:hover .icon-bar {
        background: white;
    }
    /*     content */
    #main-heading {
        text-align: center;
        z-index: 4;
        position: relative;
    }
    #main-heading:after {
        left: 25%;
        bottom: -15px;
        width: auto;
        right: 25%;
    }
    /*     post page */
    .post-meta>span {
        display: block;
        padding-left: 10px;
        list-style: square;
        border-left: solid 3px currentColor;
    }
    .post-meta>span:after {
        display: none;
    }
}

@media screen and (min-width: 500px) and (max-width: 760px) {
    body>#main-container {
        width: 70%;
    }
    #sub-nav .nav {
        text-align: center;
    }
    #sub-nav .nav>li {
        float: none;
        display: inline-block !important;
    }
}


/* Small devices (tablets, 768px and up) */

@media screen and (max-width: 768px) {
    .navbar-header .navbar-brand {
        margin: 0 auto;
        left: 12px;
        position: relative;
        display: block;
    }
    .post-box .img-holder {
        padding: 0;
        position: relative;
        display: block;
        overflow: hidden;
        max-height: 200px;
        margin-left: -15px;
        margin-right: -15px;
    }
    .post-box .img-holder .img-thumbnail {
        margin-top: 0;
        padding: 0;
        border: none;
    }
    .post-box img[src*=idea] {
        display: none !important;
    }
}

@media screen and (max-width: 400px) {
    #content,
    #post-content {
        font-size: 1.35rem;
        text-align: justify;
    }
}