@import './autoload';

$sidebar-color: #355e86;
$a-primary-color: limegreen;
$a-navbar-top-color: #284969;

.navbar-default {
	.navbar-right {
		li {
			a {	

				color: $white;

				&:hover {
					color: $link-color;
				}
			}
		}
	}
}

@import './layouts/admin/sidebar';
@import './layouts/admin/category';
@import './layouts/admin/cm-generic';
// @import './layouts/admin/user-settings';
@import './layouts/admin/manage-user-ui';