@import "./autoload";
// @import "./layouts/market/cm-home";
@import "./layouts/market/cm-market";
@import "./layouts/market/cm-services";

.service-list {
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;

    .thumb-box {
        height: auto;
        width: 100%;
        overflow: hidden;
        position: relative;
        border-radius: 4px;
        box-shadow: $z-depth-bottom-1;
        padding: 0;
        background: #dfd;
        margin: 5px 3px;
        cursor: pointer;
        float: left;

        a {
            display: block;
            padding: 0;
            overflow: hidden;
            min-height: 30px;
            max-height: 200px;
            margin: 0;
            position: relative;
            z-index: 1;

            //image
            .thumbnail {
                width: 100%;
                min-height: 200px;
                position: static;
                border-radius: 0;
                padding: 0;
                border: none;
                object-fit: cover;
                transform: scale(1.0);
                transition: all .1s ease-out;
            }
        }


        .caption {
            z-index: 5;
            padding: 1em 1em;
            background: white;
            border-top: solid 1px #ddd;
            font-size: small;
            position: relative;
            margin-bottom: 0px;
            text-shadow: 0 0 5px rgba(255,255,255,0.3);
            transition: all .2s ease-in;
        }

        &:hover {
            .thumbnail{
                transform: scale(1.1);
            }
        }
    }

    .top-bar {
        z-index: 5;
        width: 100%;
        margin-bottom: 15px;
        top: 0;
        background: rgba(255,255,255,.1);
    }

    figure.user-thumb {
        $dim: 50px;
        margin: 0;
        z-index: 5;
        padding: 0;
        overflow: hidden;

        &.xs-small {
            display: inline;

            & > img {
                width: $dim / 2;
                height: $dim / 2;
            }
        }

        & > img {
            width: $dim;
            height: $dim;
        }
    }
}

