
.error {
    display: none;
}

.event_cover {
    border-radius: 0;
    min-height: 256px;
    background: rgba(0, 0, 0, 0.67) url('/images/event_cover_image.jpg');
    background-blend-mode: multiply;
}

body {
    background: rgba(116, 29, 29, 0.61) linear-gradient(0deg, #50469e, orchid);
    background-blend-mode: multiply;
}

.e-card {
    box-shadow: 5px 3px 0 rgba(0, 0, 0, 0.41);
    ;
}

.e-card .card-image {
    max-height: 150px;
    overflow: hidden;
}

.e-card .card-content {
    text-align: left;
    margin-bottom: 20px;
}

.card .card-heading .card-label {
    -webkit-box-shadow: 0 3px 2px rgba(17, 17, 17, 0.28);
    box-shadow: 0 3px 2px rgba(17, 17, 17, 0.28);
    background: #ce0636;
    padding: .8em;
    color: #f7f7f7;
    line-height: 20px;
    position: relative;
    border-radius: 3px;
    margin-top: -35px;
    margin-bottom: 15px;
}

body>footer {
    color: #2d275a;
    display: block;
    margin-top: 1em;
    background: #2e295a;
    padding: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

footer {
    color: white !important;
}

.event-search>.input-group-addon {
    background: rgba(255, 255, 255, 0);
    border: solid 2px white;
    color: white;
    border-right: 0px;
}

.event-search>.form-control:focus {
    background: rgba(255, 255, 255, 0.35);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.event-search>.form-control {
    font-style: italic;
    background: none;
    color: #ffffff;
    border: solid 2px rgba(255, 255, 255, 0.6);
    border-left: 0;
}

.navbar {
    transition: all .5s ease-out;
}

.navbar.active .navbar-header {
    display: none;
}

.navbar.active {
    background: transparent;
    box-shadow: none !important;
}

.navbar li a {
    font-family: 'molle-italic';
}

.navbar.active li a {
    color: crimson;
}

.navbar-nav li:hover>a {
    background: transparent !important;
}

.navbar.active li a:hover {
    color: white;
}

.navbar-nav li {
    margin: 0 5px;
    background: transparent;
    height: inherit !important;
}

.navbar-nav>.active>a {
    background: transparent;
}

.navbar-nav li::after {
    content: '';
    position: absolute;
    left: 50%;
    background: crimson;
    right: 50%;
    top: -5px;
    height: 5px;
    transition: all .3s cubic-bezier(0.89, -0.38, 0.7, 1.47);
}

.navbar-nav li:hover::after,
.navbar-nav li.active::after {
    left: 0;
    right: 0;
    top: calc( 100% - 8px);
}

.panel-dark,
.card-dark,
.dark-bg {
    background: #333;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.19);
}

.red-bg {
    background: crimson;
}

.fancy-slide-down {
    li {
        background: transparent;
        position: relative;
        ;
        overflow: hidden;
        display: block;
        line-height: 1.6;
        &.active {
            a {
                color: white;
            }
            &::after {
                bottom: 0;
                border-bottom: solid 5px #ce0636;
            }
        }
        &::after {
            top: 0;
            z-index: 0;
            content: '';
            position: absolute;
            background: #de1646;
            left: 0;
            right: 0;
            bottom: 100%;
            border-bottom: solid 0 #a50624;
            transition: all .3s ease-out;
        }
        a {
            color: crimson;
            position: relative;
            z-index: 1;
            .icon {
                margin-right: 15px;
            }
        }
    }
}

.nav li a:focus {
    background: none;
}


/*EVENT PAGE*/

.event-page {
    background: rgba(255, 255, 255, 0.91);
    .e-desc-heading {
        letter-spacing: 3px;
    }
    .e-desc {
        color: black;
    }
}

.ticket-info {
    color: crimson;
    .larger {
        font-weight: 100;
        font-size: 2em;
    }
    .small {
        font-size: .5em;
    }
}

.register-card .btn {
    background: transparent;
    border-radius: 50px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    color: white;
}