@import '../adverts';
#menu-button {
    display: none;
}

#mini-nav {
    background: white;
    color: black;
}

#pd-menu .panel-title {
    position: relative;
    color: yellowgreen;
    text-shadow: 0 3px 1px rgba(0, 0, 0, 0.05);
}

#pd-menu>.title::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0px;
    bottom: -5px;
    width: 40px;
    height: 2px;
    background: yellowgreen;
}

#pd-menu .nav {
    padding: 0;
}

#pd-menu .pd-menu-button {
    color: #333;
    border: none;
    padding: 3px 5px;
    outline: none;
    background: transparent;
    border-radius: 3px;
}

#pd-menu .pd-menu-button.active {
    background: rgba(0, 0, 0, 0.2);
}

.cms-1>.adverts-preview {
    padding: 10px 9.32px;
}

.cms-1 .panel-heading {
    border-bottom: solid 2px #bdf;
}

.cms-2 .panel-heading {
    background: transparent;
    border-bottom: solid 2px #169;
    color: black;
}

.cms-2 .adverts-preview>.col-lg-3 {
    margin-top: 30px;
}

#advert-preview {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 50;
    bottom: 0;
    width: auto;
    display: none;
}

#advert-preview.show {
    display: block !important;
}

#advert-preview>*:first-child {
    float: none;
    padding: 1em;
    box-sizing: content-box;
    background: #fff;
    overflow: hidden;
    margin-top: 3.33337%;
    box-shadow: 0 0 33px 0px rgba(0, 0, 0, .4);
}

#advert-preview #desc {
    background: whitesmoke;
    padding: 1em;
}

#advert-preview #advert-owner figure {
    width: 100%;
    float: right;
    overflow-y: scroll;
    max-height: 200px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.28);
    margin-bottom: 5px;
    overflow: hidden;
}

#advert-preview #label {
    font-size: x-large;
    padding: 10px 5px;
    border: dashed 1px #ddd;
    color: #4a4a4a;
}

#advert-preview figure.thumbnail {
    padding: 0;
}

#advert-preview .glyphicon-remove-circle {
    font-size: 7em;
    position: absolute;
    top: -40px;
    right: -30px;
    color: #777;
    cursor: pointer;
    border: none;
    background: transparent;
}

#advert-owner-info {
    padding: 03px;
    text-align: center;
    border-radius: 0px;
}

#advert-preview #label~hr {
    float: left;
    margin: .4em 0;
    width: 100%;
}

.pagination>li>a {
    margin: 0 0px;
    box-shadow: 0 2px 2px;
}

#category-grid {
    width: 100%;
    border: none;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &>a {
            text-decoration: none;
            &:hover {
                figure {
                    margin-top: -10px;
                }
                div.caption {
                    background: $white;
                }
            }
        }
        .list-group-item {
            background-color: transparent;
            border: none;
            &>figure {
                height: 100px;
                background: $white;
                box-shadow: $z-depth-bottom-1;
                margin: 0 auto;
                width: 100px;
                border-radius: 100px;
                overflow: hidden;
                padding: 0;
                transition: all .3s ease-out;
                img {
                    width: 100%;
                    object-fit: cover;
                    padding: 0 !important;
                }
            }
            .caption {
                @extend .std-btn;
                margin-top: 10px;
                text-align: center;
                border-radius: 10px;
                font-variant: all-small-caps;
            }
        }
    }
}


/* larger screens */

@media screen and (min-width: 768px) {
    .navbar-static-top,
    .navbar-fixed-top {
        z-index: 30;
    }
}


/* tablet or landscape view */

@media screen and (min-width: 500px) and (max-width: 768px) {
    .thumb-box {
        max-width: 200px;
        width: 250px;
        float: left;
    }
}


/* smaller screen */

@media screen and (max-width: 360px) {}