
/* Login Form */
.login-form{
    margin-top: 30px;
    margin-bottom: 5em;
}

form {

    .heading{
        font-family: 'molle-italic','Raleway','Aller','Helvetica Neue','sans-serif';
        margin-bottom: 5px;
    }
    
    button.submit{
        color: $white;
        border-radius: 3px;
        padding: .5em 1em;
        background: $accent-color;

        &:hover{
            color: $white;
            background: darken($accent-color, 4%);
            box-shadow: 0 3px 2px rgba(0,0,0,0.3);
        }
    }
}
/* Ends Login Page */


