@import "../header";

.col-sm-1_5{
    position:relative;
    min-height:1px;
    padding: 0 35px;
    float:left; 
    width:14%
}

.panel-heading{
    font-variant: all-small-caps;
    font-size: small;
    text-transform: uppercase;
}

body > main.container-fluid{
    min-height: 100vh;
}

body > footer{
    color: #333;
    display: block;
    margin-top: 1em;
    background: #555;
    padding: 15px;
    box-sizing: border-box;
}

.user-thumb img{
    width: 50px;
    height:50px;
    border: solid 2px #ddd;
    border-radius:30px;
}

#advert-menu > li > a{
    color: inherit;
}

#advert-menu > li{
    color: #333;
}

#advert-menu li .icon {
    width: 10%;
    display: inline-block;
}

#advert-menu > li.active {
    border-left: solid 2px greenyellow;
    background: white;
}

#owner-info .list-inline li{
    vertical-align: top;
}

#owner-info .list-inline #name {
    font-size: large;
    font-family: 'molle-italic';
}

#advert-card{
    background: white;
    border-radius: 10px;
    padding: 1em 0 ;
}

#advert-card #title{
    color: black;
    margin: 0 0 10px;
    padding: .5em 0;
    border-bottom: solid 2px greenyellow;
}

#advert-card #price.badge{
    border: none;
    border-radius: 0;
    font-size: 15px;
    color: #333;
    background: #ddd;
}

#advert-card figure {
    position: relative;
}

#advert-card figure::before{
    position: absolute;
    left: -5px;
    bottom: -15px;
    content: "";
    width: 40px;
    background: #444;
    height: 40px;
    border: solid 3px #ccc;
    border-radius: 30px;
    border-color: greenyellow;
}

#advert-card figure:after{
    position: absolute;
    right: 5px;
    top: -10px;
    content: "";
    width: 20px;
    height: 20px;
    border: solid 5px transparent;
    color: #ddd;
    border-color: currentColor currentColor transparent transparent;
}

#advert-card figure img{
    z-index: 3;
    width: 100%;
    border: solid 0px white;
    border-radius: 10px 0 10px;
    transform-origin: bottom left;
    transition: transform 1s ease-in;
}

#advert-card #description{
    border-radius: 4px;
    background: whitesmoke;
    padding: 1em;
}

#advert-card #description .small.text-muted{
    font-size:smaller;
    font-variant: small-caps;
    letter-spacing: 2px;
    color: #aaa;
}

#advert-card #phone{
    background: greenyellow;
    border: none;
    width: 80px;
    height: 80px;
    font-size: 3em;
    border-radius: 50%;
    z-index: 3;
    vertical-align: middle;
    position: relative;
    box-shadow: 0 3px 3px rgba(0,0,0,0.27);
}

#advert-card #phone:hover{
    background: yellowgreen;
}

#advert-card #phone + div{
    color: greenyellow;
    font-size: larger;
    vertical-align: middle;
    padding: .3em 1em;
    border-radius: 0 13px 13px 0;
    opacity: 0;
    margin-left: -100px;
    transition: all .3s ease-out .3s;
}

#advert-card #phone + div.slide-out{
    opacity: 1;
    padding-left: 10px;
    margin-left: -10px;
}

.adverts-preview{
    background: white;
    padding: 1em 0;
    margin-bottom: 15px;
}

.adverts-preview figure {
    max-height: 200px;
    overflow: hidden;
}

.adverts-preview p{
    margin-top: 15px;
    color: #555;
}

.adverts-preview a{
    color: yellowgreen;
}

.block-left{
    border-left:solid 3px limegreen;
    margin-left: 0px;
    padding-left: 10px;
}

/* terms and condition page */
#terms-condition{
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
}

#terms-condition .heading{
    position: relative;
}

#terms-condition .heading::after{
    height: 4px;
    bottom: -5px;
    left: 0;
    content: "";
    width: 40px;
    background: #aaa;
    position: absolute;
    border-radius: 30px;
}

#terms-condition p{
    color: #666;
}

/* pagination */
.pagination > li > a,
.pagiantion > li.active > span ,
.pagiantion > li > span {
    margin-right: 5px;
}

.pagination > li > a{
    background: white;
    border: none;
    box-shadow: none;
    color: #888;
}

.pagination > .active > a{
    background: #fff;
    color: #333;
    border: solid 1px #aaa;
    box-shadow: none;
}

/* smaller screens  */
@media screen and (max-width: 360px){

    .container-fluid > .nav-holder {
        background: greenyellow;
        overflow-x: scroll;
        max-height: 45px;
    }

    .navbar-default .navbar-nav{
        padding: 0 0 0 1em ;
        overflow: auto;
        text-align: center;
        height: 30px;
    }

    .navbar-default .navbar-nav li{
        text-align: right;
        display: inline-block;
        height: auto;
    }

    .navbar-default .navbar-nav li >  a{
        padding: 0px 1em;
    }
    .navbar-nav > li img.user-thumbnail{
        display: none;
    }
    
    /*!category page */
    #category-grid .list-group-item{
        border: none;
    }
    #category-grid .list-group-item > *{
        display: inline-block;
    }
    
    #category-grid .list-group-item figure{
        width: 50px;
        height: auto;
    }
    
    #category-grid .list-group-item > caption{
        
    }
    
    /*! advert-single page */
    #advert-card #price.badge{
        font-size: 13px;
    }
    #advert-card .row:last-child{
        margin-top: 10px;
    }
    #advert-card #phone{
        width: 50px;
        height: 50px;
        margin-left: 15px;
        font-size: 1.3em;
    }
    
    footer{
        box-shadow: 0 1px 3px rgba(0,0,0,0.3) inset; 
        font-size: smaller;
    }
}


/* tablet or landscape view */
@media screen and (min-width: 375px) and (max-width: 768px){
    .navbar-default .navbar-nav{
        text-align: center;
    }
    
    .navbar-default .navbar-nav > li{
        display: inline-block;
    }
}