#userInfo #user-box figure{
    padding: 0;
    height: 200px;
    overflow: hidden;
    max-width: 200px;
    border-radius:50%;
    margin: 0 auto 10px;
    border: solid 6px #70da8f;
}

#userInfo #user-box figure > img{
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background: #ddd;
}

#userInfo #user-box .name-title{
    text-align: center;
    font-size: 1.3em;
    padding: .5em 0;
    color:  #70da8f;
    transform: rotate(-8deg);
    text-shadow: 1px 2px rgba(0,0,0,0.1);
    font-family: 'molle-italic','helvetica neue','tahoma','sans-serif';
}

#userInfo #user-box .list-group-item{
    font-size:smaller;
    margin: 5px 10px;
    padding:.4em 1em;
    border-color: #999;
/*     background: linear-gradient(90deg, lime 20%, limegreen 60%); */
    color: black;
    border-radius: 30px;
}

.thumbnail a.image {   
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -6px;
}


@media screen and (min-width: 1000px){
    #userInfo .advert-list{
        margin: 0;
        padding: 0;
        background: #eee;
        min-height: 100vh;
        border-radius: 13px;
    }
}

@media screen and (max-width: 400px){

    #userInfo .thumb-box{
        width: 10px;
    }
}