/* Registration Page */

#messaging{
	font-family: 'Montserrat';
	font-size: smaller;
	border-left: solid 4px currentColor;
	padding: .3em .5em;
	display: inline-block;
}

form {
	@extend %form-style-1;

	margin-top: 30px;
	
	hr {
		border-top: solid 1px $white;
		width: 50%;
	}

	h1 {
		font-family: $stylish-font;
		font-size: xx-large;
		letter-spacing: -1px;
	}
	
	.input-label {
		@media screen and (min-width: 700px) {
			text-align: right;
		}

		span {
			color: lighten($brand-danger,30%);
		}
	}

}


/* Ends Forms */