/* service main page */

#service-welcome-box{
	background: #999 url(~/images/assets/graphic_wallpaper.jpg) no-repeat 50% 50% / cover fixed ;
	background-blend-mode: multiply;
	min-height: 500px;
	position: relative;
	padding-top: 100px;
	margin: -30px -15px 0em;
}

#service-welcome-box .heading{
	color: white;
	text-shadow: 0px 2px 3px rgba(0,0,0,0.2);
	margin: 20px auto 50px;
}

#service-welcome-box .nav-pills > a{
	width: 150px;
	color: yellowgreen;
	background: rgba(255,255,255,.3);
	margin: 2px 5px;
	border-radius: 13px;
    font-family: 'montserrat','helvetica neue','tahoma';
	padding: .4em;
	vertical-align: bottom;
	box-shadow: 0 1px 0px rgba(0,0,0,0.1);
	transition: all .2s ease-in;
}

#service-welcome-box a:nth-child(2n-1){
	transform: rotate(30deg);
}

#service-welcome-box a:nth-child(2n-2){
	transform: rotate(-10deg);
}

#service-welcome-box a:nth-child(2n-4){
	transform: rotate(-50deg);
}


#service-welcome-box a:hover{
	background: #fff;
	transform: rotate(0deg);
	box-shadow: 0 8px 3px rgba(0,0,0,0.3); 
}

#service-welcome-box .nav-pills span{
	display: inline-block;
	margin-top: calc(150px / 3);
	vertical-align: middle;
}

.nav-pills > a{
	text-decoration: none;
}

/* service group/category page */
#service-side-menu{
	background: white;
	padding-bottom: 1em;
	border-radius: 5px;
	padding-top: 1px;
	box-shadow: 0px 3px 3px rgba(0,0,0,.1);
}

#service-side-menu .title{
	margin-bottom: 0;
	font-size: 1.5em;
}

#service-side-menu li > a{
	color: #333;
}

#service-side-menu li.active a{
	background: transparent;
	color: limegreen;
	border-left: solid 5px currentColor;
}

#service-side-menu li a{
	background: rgba(0,0,0,0);;
	transition: all .1s cubic-bezier(0.76, 0.06, 0.38, 0.8);
}

#service-side-menu .nav > li a:hover{
	background: whitesmoke !important;
	color: black;
	border-radius: 3px;
}

/* service single preview */
#service-page{
	padding: 0;
	padding-bottom: 3em;
	background: white;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

#cover-photo{
	background: linear-gradient(90deg, black, #555 ,black);
	overflow: hidden;
	border-bottom: solid 1px #ddd;
}

#covover-photo .cover-holder{
	margin: 0;
	padding: 0;
}

#service-page .back-button{
    background: white;
	display: inline-block;
	border: solid 1px #ddd;
	border-radius:50%; 
	font-size: 1.4em;
	width: 60px;
	height: 60px;
	color: #aaa;
}


#service-page #title-bar{
	margin-top: -70px;
}

#service-page figure.user-thumb{
	width: 100px;
	height: 100px;
	padding: 7px;
	background: white;
	margin: 15px 0 10px;
}

#service-page figure.user-thumb img{
	width: 104%;
	margin: -2px;
	height: auto;
	border-radius: 50%;
	object-fit: cover;
	border: none;
}

#service-page .back-button:hover{
	color: #555;
	box-shadow: 0 0 5px rgba(0,0,0,0.28);
}

#service-page i.glyphicon-phone-alt{
	line-height: 0;
	animation : shine .8s 3 forwards linear 2s;
}

#service-gallery{
	background: #fff;
	margin-top: 30px;
	padding-top: 5px;
	padding: 5px;
	border-radius: 5px;
	min-height: 160px;
}

#service-gallery .title span{
	background: #d3ffcc;
	padding: .2em .3em;
	border-radius: 10px;
	text-transform: uppercase;
}

#service-gallery a{
	display: block;
}

#service-gallery figure{
	overflow: hidden;
	margin: 10px auto;
	padding: 1px;
	border-radius: 6px;
}

.service-list {
	.thumb-box {
		background: $primary-color;
	}
}

@media screen and (min-width: 768px){
	
	#cover-photo{
	   min-height: 150px;
	   max-height: 200px;
		
	}
	
	.thumb-box{

		margin-left: 5px;
	}
}
@media screen and (max-width: 500px){
	
	#cover-photo{
		min-height: 100px;
		max-height: 200px;
	}
	
    .thumb-box{
        max-width: 100% ;
		width: 100%;
        float: left;
    }
}