<script>
import Modal from '../Modal.vue';
import vSelect from 'vue-select';
import Merchandise from '../../Models/Merchandise.js';

export default {

  name: 'MerchandisePage',
  components: {Modal, vSelect},
  created() {
    Merchandise.all().then((data) => {
        this.loaded = true;
        this.merchs = Merchandise.merchs;
    });
  },
  mounted() {
  },
  data () {
    return {
        showForm: true,
        showEdit: false,
        merchs : [],
        loaded: false,
        category: "Shirts",
        pickedMerchandise: Merchandise.form,
    };
  },
  computed: {
    load_message () {
      return this.loaded == false && this.merchs.length <= 0 ? 'Loading Messages' : 'Merchandise repository is empty. Please upload an merchandise.';
    }
  },
  methods: {
    updateMerchandise : Merchandise.update,
    updateValue(value) {
      var formattedValue = value.trim()
      .slice(
          0,
          value.indexOf('.') === -1
            ? value.length
            : value.indexOf('.') + 3
        );

      if (formattedValue !== value) {
        this.pickedMerchandise.price = formattedValue
      }

      this.pickedMerchandise.price = Number(formattedValue);
    },
    toggleForm() {
      this.showForm = !this.showForm;
      this.editForm = !this.editForm;
    },
    toggleEdit() {
      this.showEdit = !this.showEdit;
    },
    hideEdit() {
      this.showEdit = false;
    },
    editMerchandise (id) {
      this.showForm = false;
      this.showEdit = true;
      this.pickedMerchandise = Merchandise.find(id);
    },
    shuffle() {
      this.merchs = _.shuffle(this.merchs);
    },
    removeMerchandise (id) {
      Merchandise.remove(id);
    }
  }
};
</script>

<style>
  .flip-list-move {
    transition: transform 1s;
  }
</style>
